* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  .control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    .text {
      width: 100%;
      background-color: #dfeed7;
      padding: 40px 30px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
        gap: 20px;
      h2 {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
      }
      p {
        font-size: 20px;
        width: 100%;
        text-align: center;
        line-height: 33px;
      }
    }
    .images{
      img{
        width: 100%;
      }
    }
  }
}
@media(min-width:768px){

  .background {
    padding-top: 70px;
    .control {
      display: flex;
    flex-direction: row;

      justify-content: space-between;
      gap: 40px;
      .text {
        width: 100%;
        background-color: #dfeed7;
        padding: 40px 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
          gap: 40px;
        h2 {
          width: 400px;
          font-weight: 700;
          font-size: 24px;
          line-height: 35px;
        }
        p {
          font-size: 20px;
          width: 600px;
          text-align: center;
          line-height: 33px;
        }
      }
      .images{
        img{
          width: auto;
        }
      }
    }
  }
}
