* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  .aboutText{
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    font-size: 32px;
    font-weight: 600;
  }
}

.background {
  padding-top: 30px;
  .control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .leftside {
      .header {
        display: flex;
        justify-content: center;
        h2 {
          display: flex;
          align-items: center;
          font-size: 21px;
          font-weight: 600;
          h1{
            font-size: 21px;
            font-weight: 600;
            color: #6E4EEF;
          }
        }
      }
      .profilpicture {
        padding-top: 40px;
        img {
          width: 100%;
          border-radius: 20px;
        }
      }
      .experience {
        margin-top: 20px;
        background-color: #f8f0d2;
        padding: 40px 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        h2 {
          font-size: 28px;
          font-weight: 600;
        }
      p{
        line-height: 25px;
      }
      }
    }
    .rightside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .education {
        margin-top: 20px;
        background-color: #e6deeb;
        padding: 40px 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        h2 {
          font-size: 28px;
          font-weight: 600;
        }
        p{
          line-height: 25px;
        }
      }
      .diplom {
        margin-top: 20px;
        background-color: #dfeed7;
        padding: 40px 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        h2 {
          font-size: 28px;
          font-weight: 600;
        }
        p{
          line-height: 25px;
        }
      }
      .sertifikat {
        padding-top: 20px;
        img {
          width: 100%;
          border-radius: 20px;
        }
      }
    }
  }
  .workPerson{
    .controlWorkPerson{
      display: flex;
      flex-direction: column;
      gap: 20px;
      .leftWork{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        h1{
          font-weight: 600;
        }
        h2{
          width: 100%;
          line-height: 25px;
        }
      }
      .rightWork{

        .controlRightWork{
          display: flex;
          align-items: center;
          gap: 10px;
          img{
            width: 70px;
            margin-bottom: 20px;
            margin-top: 20px;
          }
          .nameRight{
            display: flex;
            flex-direction: column;
            gap: 15px;
            h2{
              font-weight: 600;
              font-size: 18px;
            }
          }
        }
      }
  
    }
  }
  .images{
    padding-top: 20px;
 
    img{
      width: 100%;
    }
  }
  .hospitalText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    h2{
      font-size: 24px;
      text-align: center;
      font-weight: 600;
    }
    p{
      text-align: center;
      width: 100%;
    }
  }

}
@media (min-width: 768px) {
  .aboutText{
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    font-size: 64px;
    font-weight: 600;
  }
}

  .background {
    .control {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      gap: 50px;
      .leftside {
        .header {
          h2 {
            display: flex;
            align-items: center;
            font-size: 51px;
            font-weight: 600;
            h1{
              font-size: 51px;
              font-weight: 600;
              color: #6E4EEF;
            }
          }
        }
        .profilpicture {
          padding-top: 40px;
          img {
            border-radius: 20px;
          }
        }
        .experience {
          margin-top: 20px;
          background-color: #f8f0d2;
          padding: 40px 30px;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          h2 {
            font-size: 28px;
            font-weight: 600;
          }
          p{
            line-height: 30px;
          }
        }
      }
      .rightside {
        display: flex;
        flex-direction: column;
     
        .education {
          margin-top: 20px;
          background-color: #e6deeb;
          padding: 40px 30px;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          h2 {
            font-size: 28px;
            font-weight: 600;
          }
          p{
            line-height: 25px;
          }
        }
        .diplom {
          margin-top: 20px;
          background-color: #dfeed7;
          padding: 40px 30px;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          h2 {
            font-size: 28px;
            font-weight: 600;
          }
            p{
            line-height: 25px;
          }
        }
        .sertifikat {
          padding-top: 0;
          img {
            width: 100%;
            border-radius: 20px;
          }
        }
      }
    }
    .workPerson{
      padding-top: 140px;
      .controlWorkPerson{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .leftWork{
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          h1{
            font-size: 35px;
            font-weight: 600;
     
          }
          h2{
            width: 450px;
            line-height: 25px;
          }
        }
        .rightWork{
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 40px;
         .controlRightWork{
          display: flex;
          align-items: center;
          gap: 20px;
          img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
           margin-top: 0;
           object-fit: cover;
           margin-bottom: 0;
          }
          .nameRight{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h2{
              font-weight: 600;
              font-size: 20px;
            }
          }
         }
        }
      }
    }
    .images{
      padding-top: 80px;
      width: 100%;
      img{
        width: 100%;
      }
    }
    .hospitalText{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding-top: 50px;
      h2{
        font-size: 32px;
        font-weight: 600;
      }
      p{
        width: 500px;
        text-align: center;
      }
    }
  }
}
