* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  padding-top: 60px;
  padding-bottom: 60px;
  .headers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-weight: 600;
      font-size: 32px;
    }
    p {
      text-align: center;
    }
  }
  .boxs {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .border {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      background-color: #F1F1F2;
      border-radius: 10px;
      h2{
        padding: 27px 30px;
        font-weight: 600;
      }
      img{
        border-radius: 10px;
      }
    }
  }
}
@media (min-width: 768px) {
  .background {
    .headers {
      h2 {
        font-size: 48px;
      }
    }
    .boxs {
      padding-top: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      .border {
      }
    }
  }
}
