*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    padding-top: 80px;
    .text{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 10px;
        h2{
            font-size: 73px;
            color: #ED8E61;
            font-weight: 600;
        }
        h3{
            font-size: 73px;
            font-weight: 600;

        }
    }
    .images{
        padding-top: 70px;
        img{
            width: 100%;
        }
    }
}