@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  position: relative;
  max-width: 1920px;
  margin: auto;
  background-image: url("../../assets/images/homeback.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  /* Metin rengi */
  text-align: center;
  /* Siyah gradyan efekti */
  /* İçerik için z-index ayarı */
}
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.507));
  z-index: 1;
  /* Gradyan metnin altında kalmalı */
}
.background * {
  position: relative;
  z-index: 2;
  /* İçerik gradyandan önde görünür */
}
.background .headers {
  padding-top: 33px;
  display: flex;
  justify-content: center;
}
.background .headers h2 {
  background-color: black;
  padding: 8px 12px;
  color: #6E4EEF;
  border-radius: 20px;
}
.background .texts {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
}
.background .texts h2 {
  font-weight: 600;
  font-size: 34px;
}
.background .texts img {
  width: 200px;
}
.background .control {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.background .control .leftside {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.background .control .leftside .line1 {
  text-align: center;
}
.background .control .leftside .line1 h2 {
  font-size: 22px;
  width: 100%;
}
.background .control .leftside .line2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.background .control .leftside .line2 h2 {
  background-color: #6e4eef;
  padding: 18px 25px;
  color: white;
  border-radius: 30px;
  font-weight: 400;
}
.background .control .leftside .line2 .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.background .control .leftside .line2 .icons a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.background .control .leftside .line3 {
  display: flex;
}
.background .control .leftside .line3 .controlemergency {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.background .control .leftside .line3 .controlemergency .emergency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.background .control .leftside .line3 .controlemergency .emergency .emergencynumber {
  display: flex;
  align-items: center;
}
.background .control .leftside .line3 .controlemergency .emergency .emergencynumber h2 {
  font-weight: 700;
  font-size: 35px;
}
.background .control .leftside .line3 .controlemergency .emergency .emergencytext h2 {
  font-size: 15px;
}
.background .control .rightside {
  padding-top: 40px;
}
.background .control .rightside img {
  width: 100%;
}

@media (min-width: 768px) {
  .background .texts {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
  }
  .background .texts h2 {
    font-weight: 600;
    font-size: 72px;
  }
  .background .control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
  }
  .background .control .leftside {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .background .control .leftside .line1 {
    text-align: start;
  }
  .background .control .leftside .line1 h2 {
    font-size: 22px;
    width: 650px;
  }
  .background .control .leftside .line2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 40px;
  }
  .background .control .leftside .line2 h2 {
    background-color: #6e4eef;
    padding: 18px 25px;
    color: white;
    border-radius: 30px;
    font-weight: 400;
  }
  .background .control .leftside .line2 .icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .background .control .leftside .line2 .icons a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .background .control .leftside .line3 {
    display: flex;
  }
  .background .control .leftside .line3 .controlemergency {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }
  .background .control .leftside .line3 .controlemergency .emergency {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .background .control .leftside .line3 .controlemergency .emergency .emergencynumber {
    display: flex;
    align-items: center;
  }
  .background .control .leftside .line3 .controlemergency .emergency .emergencynumber h2 {
    font-weight: 600;
    font-size: 55px;
  }
  .background .control .leftside .line3 .controlemergency .emergency .emergencytext h2 {
    font-size: 20px;
  }
  .background .control .rightside {
    padding-top: 0;
  }
  .background .control .rightside img {
    width: 100%;
  }
}/*# sourceMappingURL=index.module.css.map */