* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boxs {
  padding-top: 50px;
  .prices {
    cursor: pointer;
    .images1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
}

@media(min-width:768px){
    .boxs{
        .prices{
            .swiper-slide{

                .images1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
        }
    }
    .img1 {
        cursor: pointer;
        width: 40%;
        height: 20vh;
        margin-bottom: 50px;
      }
}
