* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  .headerControl {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .location {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      h2 {
        font-size: 14px;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
    .clockOpen {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      h2 {
        font-size: 14px;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
    .phone {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      h2 {
        font-size: 14px;
        text-decoration: none;
        a {
          text-decoration: none;

          color: #666666;
        }
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  .control {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .images {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 24px;
        font-weight: 600;
      }
      h2 {
        line-height: 25px;
      }
      img {
        width: 100%;
        border-radius: 20px;
      }
    }
    .texts {
      width: 100%;
      background-color: #f1f1f2;
      padding: 28px 20px;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      gap: 50px;
      justify-content: space-between;
      label {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        input {
          background-color: transparent;
          color: black;
          border-radius: 10px;
          outline: none;
          padding: 14px 30px;
          border: 1px solid rgb(203, 203, 203);
        }
      }
      .buttonControl {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        button {
          background-color: #6e4eef;
          color: white;
          border-radius: 10px;
          outline: none;
          border: none;
          padding: 13px 38px;
        }
      }
      .textArea {
        width: 100%;
        textarea {
          background-color: transparent;
          color: black;
          border-radius: 10px;
          outline: none;
          padding: 14px 30px;
          border: 1px solid rgb(203, 203, 203);
          max-height: 20vh;
          width: 100%;
        }
      }
    }
  }
  .maps {
    margin-top: 42px;
    margin-bottom: 30px;
    width: 100%;
    height: 300px;
    .map {
      border-radius: 20px;

      width: 100%;
      height: 100%;
    }
    h2 {
      padding-top: 20px;
      font-weight: 600;
    }
  }
}
@media (min-width: 768px) {
  .background {
    .headerControl {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      .location {
        display: flex;
        align-items: center;
        gap: 10px;
        h2 {
          color: #666666;
        }
      }
      .clockOpen {
        display: flex;
        align-items: center;
        gap: 10px;
        h2 {
          color: #666666;
        }
      }
      .phone {
        display: flex;
        align-items: center;
        gap: 10px;
        h2 {
          text-decoration: none;
          a {
            text-decoration: none;
            color: #666666;
          }
        }
      }
    }
    .control {
      padding-top: 88px;
      padding-bottom: 88px;
      display: flex;
      flex-direction: row;
      gap: 30px;
      .images {
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1 {
          font-size: 48px;
          font-weight: 600;
        }
        h2 {
          line-height: 25px;
        }
        width: 50%;
        img {
          width: 100%;
          border-radius: 20px;
        }
      }
      .texts {
        width: 100%;
        background-color: #f1f1f2;
        padding: 48px 70px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-radius: 20px;
        justify-content: space-between;
        label {
          display: flex;
          flex-direction: column;
          gap: 15px;
          width: 45%;
          input {
            background-color: transparent;
            color: black;
            border-radius: 10px;
            outline: none;
            padding: 14px 30px;
            border: 1px solid rgb(203, 203, 203);
          }
        }
        .buttonControl {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-end;
          button {
            background-color: #6e4eef;
            color: white;
            border-radius: 10px;
            outline: none;
            border: none;
            padding: 13px 38px;
          }
        }
        .textArea {
          width: 100%;
          textarea {
            background-color: transparent;
            color: black;
            border-radius: 10px;
            outline: none;
            padding: 14px 30px;
            border: 1px solid rgb(203, 203, 203);
            max-height: 20vh;
            width: 100%;
          }
        }
      }
    }
    .maps {
      margin-top: 12px;
      padding-bottom: 48px;
      width: 100%;
      height: 500px;
      .map {
        border-radius: 20px;

        width: 100%;
        height: 100%;
      }
      h2 {
        padding-top: 50px;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
      }
    }
  }
}
