* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  .header {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    h2 {
      font-weight: 600;
      font-size: 32px;
    }
  }
  .control {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 17px;
    .border1 {
      width: 100%;
      background-color: #dfeed7;
      border-radius: 10px;

      .bordertext1 {
        padding: 88px 137px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        align-items: center;
        color: #439a75;
        font-weight: 600;
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .border2 {
      background-color: #e6deeb;
      width: 100%;
      border-radius: 10px;
      .bordertext2 {
        padding: 88px 137px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #9b8dd4;
        font-weight: 600;
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .border3 {
      background-color: #f9e8d6;
      width: 100%;
      border-radius: 10px;
      .bordertext3 {
        padding: 88px 137px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ed8e61;
        font-weight: 600;
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .border4 {
      background-color: #dfeed7;
      width: 100%;
      border-radius: 10px;
      .bordertext4 {
        padding: 88px 137px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #439a75;
        font-weight: 600;
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .background {
    .header {
      display: flex;
      justify-content: center;
      padding-top: 70px;
      h2 {
        font-weight: 600;
        font-size: 32px;
      }
    }
    .control {
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      flex-wrap: wrap;
        flex-direction: row;
      justify-content: center;
      gap: 17px;
      .border1 {
        width: 33%;
        background-color: #dfeed7;
        border-radius: 10px;

        .bordertext1 {
          padding: 88px 137px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 15px;
          align-items: center;
          color: #439a75;
          font-weight: 600;
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 20px;
          }
        }
      }
      .border2 {
        background-color: #e6deeb;
        width: 33%;
        border-radius: 10px;
        .bordertext2 {
          padding: 88px 137px;
          display: flex;
          gap: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #9b8dd4;
          font-weight: 600;
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 20px;
          }
        }
      }
      .border3 {
        background-color: #f9e8d6;
        width: 33%;
        border-radius: 10px;
        .bordertext3 {
          padding: 88px 137px;
          display: flex;
          gap: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #ed8e61;
          font-weight: 600;
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 20px;
          }
        }
      }
      .border4 {
        background-color: #dfeed7;
        width: 33%;
        border-radius: 10px;
        .bordertext4 {
          padding: 88px 137px;
          display: flex;
          gap: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #439a75;
          font-weight: 600;
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
