* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    margin-top: 50px;

    .controlHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: #6E4EEF;
            font-size: 32px;
            font-weight: 600;
        }

        a {
            text-decoration: none;
            border: 1px solid #6E4EEF;
            background-color: #6E4EEF;
            
            padding: 12px 30px;
            border-radius: 30px;
            color: white;
            font-weight: 600;
        }
    }

    .boxs {
        .price {
            padding-top: 40px;
            .border {
                margin-bottom: 50px;
                text-decoration: none;
                background-color: #ececec;
                display: flex;
                flex-direction: column;
                border-radius: 20px;

                h2 {
                    text-align: center;

                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                    padding: 27px 30px;
               
                }
            }
        }
    }
}
@media(max-width:498px){
    .background{
        .controlHeader{
            display: flex;
            align-items: center;
            
            h2{
                font-size: 20px;
            }
            a{
                padding: 10px 20px;
            }
        }
    }
}