* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  
  .controlContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftBox{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      h2{
        font-size: 19px;
        color:#64686C;
        font-weight: 700;
      }
    }
    .centerBox{
      display: flex;
      align-items: center;
      img{
        position: relative;
        left: 50px;
        width: 13px;
      }
      input{
        width: 800px;
        background-color: #EAF1FB;
        border-radius: 20px;
        border: none;
        padding: 12.5px 54px;
      }
    }
    .rightBox{
      display: flex;
      align-items: center;
      gap: 30px;
      img{
        width: 18px;
       
      }
      .profileIcon{
        width: 26px;
      }
    }
  }
}

