* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    
    .overlay {
        background-color: white;
        border: 1px solid #DFDEE0;
        position: absolute;
        top: 18%;
        right: 10%;
        transform: translate(-10%, -18%); // Tam ekran ortalama
        border-radius: 20px;
        padding: 25px 17px;
        max-width: 20%; // Responsive genişlik
        max-width: 400px; // Maksimum genişlik
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .controlOverlay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            svg {
                border: 2px solid #FEDDDF;
                border-radius: 50%;
                padding: 8px;
                width: 40px;
                height: 40px;
            }

            h2 {
                text-align: center;
                font-weight: 600;
            }

            p {
                text-align: center;
                color: #8E8D91;
                width: 400px;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                text-decoration: none;

                background-color: #F0EDFD;
                border-radius: 10px;
                border: none;
                color: #6E4EEF;
                padding: 17px 0;
                width: 100%;
                font-weight: 600;
                font-size: 16px;

                svg {
                    border: none;
                    border-radius: 0;
                    padding: 0;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .control {
        background-color: #9a83f436;

        .doctorBack {
            max-width: 1440px;
            margin: auto;
            display: flex;
            padding: 24px 20px;
            gap: 24px;

            .textControl {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h2 {
                    color: #372778;
                    font-size: 32px;
                    font-weight: 600;
                }

                h3 {
                    color: #8E8D91;
                }
            }
        }
    }
}
