* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background .fixedCall {
  display: none;
}
.background .positionOverlay {
  position: relative;
  width: 100%;
}
.background .positionOverlay .overlay {
  background-color: white;
  border: 1px solid #DFDEE0;
  border-radius: 20px;
  padding: 25px 17px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -8%;
  right: -1%;
  transform: translate(1%, 8%);
}
.background .positionOverlay .overlay .controlOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.background .positionOverlay .overlay .controlOverlay svg {
  border: 2px solid #FEDDDF;
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
}
.background .positionOverlay .overlay .controlOverlay h2 {
  text-align: center;
  font-weight: 600;
}
.background .positionOverlay .overlay .controlOverlay p {
  text-align: center;
  color: #8E8D91;
  width: 400px;
}
.background .positionOverlay .overlay .controlOverlay a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  background-color: #F0EDFD;
  border-radius: 10px;
  border: none;
  color: #6E4EEF;
  padding: 17px 0;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
}
.background .positionOverlay .overlay .controlOverlay a svg {
  border: none;
  border-radius: 0;
  padding: 0;
  width: 15px;
  height: 15px;
}
.background .control {
  background-color: rgba(154, 131, 244, 0.2117647059);
}
.background .control .doctorBack {
  max-width: 1440px;
  margin: auto;
  display: flex;
  padding: 24px 20px;
  gap: 24px;
}
.background .control .doctorBack .imagesControl img {
  width: 170px;
  height: 150px;
  border-radius: 50%;
}
.background .control .doctorBack .textControl {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .control .doctorBack .textControl h2 {
  color: #372778;
  font-size: 32px;
  font-weight: 600;
}
.background .control .doctorBack .textControl h3 {
  color: #8E8D91;
}
.background .aboutDoctor {
  margin-top: 25px;
  border: 1px solid #DFDEE0;
  padding: 25px;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.background .aboutDoctor .aboutMe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.background .aboutDoctor .aboutMe .aboutIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.background .aboutDoctor .aboutMe .aboutIcon h2 {
  color: #9983F4;
  font-weight: 600;
}
.background .aboutDoctor .aboutMe p {
  line-height: 25px;
}
.background .aboutDoctor .skillsDoctor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.background .aboutDoctor .skillsDoctor .skillsIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.background .aboutDoctor .skillsDoctor .skillsIcon h2 {
  color: #9983F4;
  font-weight: 600;
}
.background .aboutDoctor .skillsDoctor .listSkills {
  padding-left: 25px;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.background .aboutDoctor .skillsDoctor li::marker {
  color: #CECED0;
}
.background .aboutDoctor .documentDoctor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.background .aboutDoctor .documentDoctor .documentIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.background .aboutDoctor .documentDoctor .documentIcon h2 {
  color: #9983F4;
  font-weight: 600;
}
.background .aboutDoctor .documentDoctor .listDocument {
  padding-left: 25px;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.background .aboutDoctor .documentDoctor li::marker {
  color: #CECED0;
}
.background .aboutDoctor .klinikDoctor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.background .aboutDoctor .klinikDoctor .klinikIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.background .aboutDoctor .klinikDoctor .klinikIcon h2 {
  color: #9983F4;
  font-weight: 600;
}

@media (max-width: 498px) {
  .background .overlay {
    display: none;
  }
  .background .fixedCall {
    display: block;
    position: fixed;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -96%);
    width: 90%;
    margin: auto;
  }
  .background .fixedCall a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    background-color: #F0EDFD;
    border-radius: 10px;
    border: none;
    color: #6E4EEF;
    padding: 17px 0;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
  }
  .background .fixedCall a svg {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 15px;
    height: 15px;
  }
  .background .aboutDoctor {
    width: 100%;
  }
}/*# sourceMappingURL=index.module.css.map */