* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding-top: 80px;
}
.background .control .headerText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.background .control .headerText h2 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 72px;
  font-weight: 600;
}
.background .control .headerText h2 h1 {
  font-size: 72px;
  color: #6E4EEF;
  font-weight: 600;
}
.background .control .boxOne {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.background .control .boxOne .leftBox {
  width: 40%;
}
.background .control .boxOne .leftBox h1 {
  font-size: 32px;
  font-weight: 600;
}
.background .control .boxOne .leftBox .controlLeftBox {
  margin-top: 30px;
  background-color: #DFEED7;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.background .control .boxOne .leftBox .controlLeftBox .leftBoxText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
.background .control .boxOne .leftBox .controlLeftBox .leftBoxText .leftBoxHeader h2 {
  color: #439A75;
}
.background .control .boxOne .leftBox .controlLeftBox .leftBoxText .leftBoxBottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .control .boxOne .leftBox .controlLeftBox .leftBoxText .leftBoxBottom h2 {
  font-size: 28px;
  font-weight: 600;
}
.background .control .boxOne .leftBox .controlLeftBox .leftBoxText .leftBoxBottom p {
  width: 400px;
}
.background .control .boxOne .controlMiddleBox {
  background-color: #F9E8D6;
  width: 28%;
  padding: 30px;
  border-radius: 10px;
}
.background .control .boxOne .controlMiddleBox .middleBoxText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 108px;
}
.background .control .boxOne .controlMiddleBox .middleBoxText .middleBoxHeader h2 {
  color: #ED8E61;
}
.background .control .boxOne .controlMiddleBox .middleBoxText .middleBoxBottom {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.background .control .boxOne .controlMiddleBox .middleBoxText .middleBoxBottom h2 {
  font-size: 28px;
  font-weight: 600;
}
.background .control .boxOne .controlMiddleBox .middleBoxText .middleBoxBottom p {
  max-width: 400px;
  line-height: 22px;
}
.background .control .boxOne .controlRightBox {
  background-color: #E6DEEB;
  width: 28%;
  padding: 30px;
  border-radius: 10px;
}
.background .control .boxOne .controlRightBox .rightBoxText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 108px;
}
.background .control .boxOne .controlRightBox .rightBoxText .rightBoxHeader h2 {
  color: #A68CD0;
}
.background .control .boxOne .controlRightBox .rightBoxText .rightBoxBottom {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.background .control .boxOne .controlRightBox .rightBoxText .rightBoxBottom h2 {
  font-size: 28px;
  font-weight: 600;
}
.background .control .boxOne .controlRightBox .rightBoxText .rightBoxBottom p {
  max-width: 400px;
  line-height: 22px;
}
.background .control .boxTwo {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  gap: 17px;
}
.background .control .boxTwo .controlFiveBox {
  width: 100%;
  background-color: #DFEED7;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.background .control .boxTwo .controlFiveBox .fiveBoxText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
.background .control .boxTwo .controlFiveBox .fiveBoxText .fiveBoxHeader h2 {
  color: #439A75;
}
.background .control .boxTwo .controlFiveBox .fiveBoxText .fiveBoxBottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .control .boxTwo .controlFiveBox .fiveBoxText .fiveBoxBottom h2 {
  font-size: 28px;
  font-weight: 600;
}
.background .control .boxTwo .controlFiveBox .fiveBoxText .fiveBoxBottom p {
  width: 400px;
}
.background .control .boxTwo .controlForBox {
  background-color: #E6DEEB;
  width: 24%;
  padding: 30px;
  border-radius: 10px;
}
.background .control .boxTwo .controlForBox .forBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.background .control .boxTwo .controlForBox .forBox .forBoxHeader h2 {
  color: #A68CD0;
}
.background .control .boxTwo .controlForBox .forBox .forBoxBottom {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.background .control .boxTwo .controlForBox .forBox .forBoxBottom h2 {
  font-size: 28px;
  font-weight: 600;
}
.background .control .boxTwo .controlForBox .forBox .forBoxBottom p {
  max-width: 400px;
  line-height: 22px;
}
.background .control .boxThree {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  gap: 17px;
}
.background .control .boxThree .controlFiveBox {
  width: 100%;
  background-color: #F8F0D2;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.background .control .boxThree .controlFiveBox .fiveBoxText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
.background .control .boxThree .controlFiveBox .fiveBoxText .fiveBoxHeader h2 {
  color: #439A75;
}
.background .control .boxThree .controlFiveBox .fiveBoxText .fiveBoxBottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .control .boxThree .controlFiveBox .fiveBoxText .fiveBoxBottom h2 {
  font-size: 28px;
  font-weight: 600;
}
.background .control .boxThree .controlFiveBox .fiveBoxText .fiveBoxBottom p {
  width: 400px;
}
.background .control .boxThree .controlForBox {
  background-color: #E6DEEB;
  width: 24%;
  padding: 30px;
  border-radius: 10px;
}
.background .control .boxThree .controlForBox .forBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.background .control .boxThree .controlForBox .forBox .forBoxHeader h2 {
  color: #A68CD0;
}
.background .control .boxThree .controlForBox .forBox .forBoxBottom {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.background .control .boxThree .controlForBox .forBox .forBoxBottom h2 {
  font-size: 28px;
  font-weight: 600;
}
.background .control .boxThree .controlForBox .forBox .forBoxBottom p {
  max-width: 400px;
  line-height: 22px;
}
.background .rightside {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.background .rightside .greenborder {
  cursor: pointer;
  padding: 30px;
  background-color: #f1f1f2;
  width: 100%;
  border-radius: 15px;
}
.background .rightside .greenborder .greentext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background .rightside .greenborder .greentext h2 {
  font-weight: 600;
  font-size: 26px;
}
.background .rightside .greenborder .greentext svg {
  display: flex;
  justify-content: flex-end;
}
.background .rightside .greenborder .orangeabout {
  padding-top: 20px;
}
.background .rightside .greenborder .orangeabout p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.background .rightside .greenborder .orangeabout .textAbout {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}
.background .rightside .greenborder .orangeabout .textAbout h2 {
  font-size: 20px;
  font-weight: 600;
}
.background .rightside .orangeborder {
  cursor: pointer;
  padding: 30px;
  background-color: #f1f1f2;
  width: 100%;
  border-radius: 15px;
}
.background .rightside .orangeborder .orangetext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background .rightside .orangeborder .orangetext h2 {
  font-size: 26px;
  font-weight: 600;
}
.background .rightside .orangeborder .orangetext svg {
  display: flex;
  justify-content: flex-end;
}
.background .rightside .orangeborder .orangeabout {
  padding-top: 20px;
}
.background .rightside .orangeborder .orangeabout p {
  font-size: 16px;
  line-height: 20px;
}
.background .rightside .redborder {
  cursor: pointer;
  padding: 30px;
  background-color: #f1f1f2;
  width: 100%;
  border-radius: 15px;
}
.background .rightside .redborder .redtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background .rightside .redborder .redtext h2 {
  font-size: 26px;
  font-weight: 600;
}
.background .rightside .redborder .redtext svg {
  display: flex;
  justify-content: flex-end;
}
.background .rightside .redborder .orangeabout {
  padding-top: 20px;
}
.background .rightside .redborder .orangeabout p {
  font-size: 16px;
  line-height: 20px;
}
.background .rightside .violetborder {
  cursor: pointer;
  padding: 30px;
  background-color: #f1f1f2;
  width: 100%;
  border-radius: 15px;
}
.background .rightside .violetborder .violettext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background .rightside .violetborder .violettext h2 {
  font-size: 26px;
  font-weight: 600;
}
.background .rightside .violetborder .violettext svg {
  display: flex;
  justify-content: flex-end;
}
.background .rightside .violetborder .orangeabout {
  padding-top: 20px;
}
.background .rightside .violetborder .orangeabout p {
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 498px) {
  .background .control .headerText h2 {
    font-size: 24px;
  }
  .background .control .headerText h2 h1 {
    font-size: 24px;
  }
  .background .control .boxOne {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
  .background .control .boxOne .leftBox {
    width: 100%;
  }
  .background .control .boxOne .leftBox h1 {
    font-size: 20px;
  }
  .background .control .boxOne .leftBox .controlLeftBox .leftBoxText .leftBoxBottom h2 {
    font-size: 18px;
  }
  .background .control .boxOne .leftBox .controlLeftBox .leftBoxText .leftBoxBottom p {
    width: 100%;
    font-size: 16px;
  }
  .background .control .boxOne .controlMiddleBox {
    width: 100%;
  }
  .background .control .boxOne .controlMiddleBox .middleBoxText .middleBoxBottom h2 {
    font-size: 18px;
  }
  .background .control .boxOne .controlMiddleBox .middleBoxText .middleBoxBottom p {
    width: 100%;
    font-size: 16px;
  }
  .background .control .boxOne .controlRightBox {
    width: 100%;
  }
  .background .control .boxOne .controlRightBox .rightBoxText .rightBoxBottom h2 {
    font-size: 18px;
  }
  .background .control .boxOne .controlRightBox .rightBoxText .rightBoxBottom p {
    width: 100%;
    font-size: 16px;
  }
  .background .control .boxTwo {
    display: flex;
    flex-direction: column;
  }
  .background .control .boxTwo .controlForBox {
    width: 100%;
  }
  .background .control .boxTwo .controlForBox .forBox {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .background .control .boxTwo .controlForBox .forBox .forBoxBottom h2 {
    font-size: 18px;
  }
  .background .control .boxTwo .controlForBox .forBox .forBoxBottom p {
    width: 100%;
    font-size: 16px;
  }
  .background .control .boxTwo .controlFiveBox {
    width: 100%;
  }
  .background .control .boxTwo .controlFiveBox .fiveBoxText .fiveBoxBottom h2 {
    font-size: 18px;
  }
  .background .control .boxTwo .controlFiveBox .fiveBoxText .fiveBoxBottom p {
    width: 100%;
    font-size: 16px;
  }
  .background .control .boxThree {
    display: flex;
    flex-direction: column;
  }
  .background .control .boxThree .controlForBox {
    width: 100%;
  }
  .background .control .boxThree .controlForBox .forBox {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .background .control .boxThree .controlForBox .forBox .forBoxBottom h2 {
    font-size: 18px;
  }
  .background .control .boxThree .controlForBox .forBox .forBoxBottom p {
    width: 100%;
    font-size: 16px;
  }
  .background .control .boxThree .controlFiveBox {
    width: 100%;
  }
  .background .control .boxThree .controlFiveBox .fiveBoxText .fiveBoxBottom h2 {
    font-size: 18px;
  }
  .background .control .boxThree .controlFiveBox .fiveBoxText .fiveBoxBottom p {
    width: 100%;
    font-size: 16px;
  }
  .background .rightside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  }
  .background .rightside .greenborder {
    cursor: pointer;
    padding: 30px;
    background-color: #f1f1f2;
    width: 100%;
    border-radius: 15px;
  }
  .background .rightside .greenborder .greentext {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .background .rightside .greenborder .greentext h2 {
    font-weight: 600;
    font-size: 20px;
  }
  .background .rightside .greenborder .greentext svg {
    display: flex;
    justify-content: flex-end;
  }
  .background .rightside .greenborder .orangeabout {
    padding-top: 20px;
  }
  .background .rightside .greenborder .orangeabout p {
    font-size: 14px;
    line-height: 20px;
  }
  .background .rightside .orangeborder {
    cursor: pointer;
    padding: 30px;
    background-color: #f1f1f2;
    width: 100%;
    border-radius: 15px;
  }
  .background .rightside .orangeborder .orangetext {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .background .rightside .orangeborder .orangetext h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .background .rightside .orangeborder .orangetext svg {
    display: flex;
    justify-content: flex-end;
  }
  .background .rightside .orangeborder .orangeabout {
    padding-top: 20px;
  }
  .background .rightside .orangeborder .orangeabout p {
    font-size: 14px;
    line-height: 20px;
  }
  .background .rightside .redborder {
    cursor: pointer;
    padding: 30px;
    background-color: #f1f1f2;
    width: 100%;
    border-radius: 15px;
  }
  .background .rightside .redborder .redtext {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .background .rightside .redborder .redtext h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .background .rightside .redborder .redtext svg {
    display: flex;
    justify-content: flex-end;
  }
  .background .rightside .redborder .orangeabout {
    padding-top: 20px;
  }
  .background .rightside .redborder .orangeabout p {
    font-size: 14px;
    line-height: 20px;
  }
  .background .rightside .violetborder {
    cursor: pointer;
    padding: 30px;
    background-color: #f1f1f2;
    width: 100%;
    border-radius: 15px;
  }
  .background .rightside .violetborder .violettext {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .background .rightside .violetborder .violettext h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .background .rightside .violetborder .violettext svg {
    display: flex;
    justify-content: flex-end;
  }
  .background .rightside .violetborder .orangeabout {
    padding-top: 20px;
  }
  .background .rightside .violetborder .orangeabout p {
    font-size: 14px;
    line-height: 20px;
  }
}/*# sourceMappingURL=index.module.css.map */